# DATA TYPES

In [1]:
data_input1 = 35

In [2]:
type(data_input1)

int

In [3]:
data_input2 = 76.5

In [4]:
type(data_input2)

float

In [5]:
data_input3 = "i am vishal chitara"

In [6]:
type(data_input3)

str

In [7]:
list= ["vishal",3,99.3,[35,43,25.3],63]
print(list)

['vishal', 3, 99.3, [35, 43, 25.3], 63]

In [8]:
list[0]

'vishal'

In [9]:
list[3]

[35, 43, 25.3]

In [10]:
list[-2]

[35, 43, 25.3]

In [11]:
list[-5]

'vishal'

In [12]:
list[-3]

99.3

In [13]:
list[0:-3]

['vishal', 3]

In [14]:
list.count(3)

1

In [15]:
list.append(3)

In [16]:
list

['vishal', 3, 99.3, [35, 43, 25.3], 63, 3]

In [17]:
list.count(3)

2

In [18]:
help(one.pop)

NameError: name 'one' is not defined

In [25]:
list.pop

In [26]:
len(list)

8

In [27]:
list.remove(99.3)

In [28]:
help(list.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [29]:
list.remove(99.3, )

ValueError: list.remove(x): x not in list

In [30]:
list

['vishal', 3, [35, 43, 25.3], 63, 3, 3, 3]

In [31]:
list.copy(3)

TypeError: copy() takes no arguments (1 given)

In [32]:
help(list.copy)

Help on built-in function copy:

copy() method of builtins.list instance
    Return a shallow copy of the list.

In [33]:
list.copy()

['vishal', 3, [35, 43, 25.3], 63, 3, 3, 3]

In [34]:
list

['vishal', 3, [35, 43, 25.3], 63, 3, 3, 3]

In [35]:
help(list.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [36]:
list.extend('vishal', )

In [37]:
list

['vishal', 3, [35, 43, 25.3], 63, 3, 3, 3, 'v', 'i', 's', 'h', 'a', 'l']

In [38]:
help(list.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [39]:
help(list.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.list instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [21]:
list.index('h',0,10)

ValueError: 'h' is not in list

In [40]:
list

['vishal', 3, [35, 43, 25.3], 63, 3, 3, 3, 'v', 'i', 's', 'h', 'a', 'l']

In [41]:
list.insert(8,3,)

In [24]:
list

['vishal', 3, 99.3, [35, 43, 25.3], 63, 3, 3, 3]

In [50]:
list.reverse()

In [51]:
list

['l', 'a', 'h', 's', 'i', 3, 'v', 3, 3, 3, 63, [35, 43, 25.3], 3, 'vishal']

In [52]:
list.clear()

In [53]:
list

[]

# dictionaries

In [65]:
#dict

dit={"my_first_name" : "vishal",
       "my_last_name" : "chitara",
       "my_pet_name" : "nanu"}

In [66]:
dit.get("my_first_name")

'vishal'

In [67]:
dit.get("my_last_name")

'chitara'

In [69]:
dit.get("my_pet_name")

'nanu'

In [145]:
dit["my_pet_name"]

'nanu'

# methords in dicts

In [70]:
help(dit.values)

Help on built-in function values:

values(...) method of builtins.dict instance
    D.values() -> an object providing a view on D's values

In [71]:
dit.values()

dict_values(['vishal', 'chitara', 'nanu'])

In [72]:
dit.keys()

dict_keys(['my_first_name', 'my_last_name', 'my_pet_name'])

In [73]:
help(dit.update)

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [75]:
E = {"FIRST NAME" : "VISHAL",
    "LAST NAME" : "CHITARA",
    "PET NAME" : "NANU"}

In [76]:
dit.update(E)

In [77]:
dit

{'my_first_name': 'vishal',
 'my_last_name': 'chitara',
 'my_pet_name': 'nanu',
 'FIRST NAME': 'VISHAL',
 'LAST NAME': 'CHITARA',
 'PET NAME': 'NANU'}

In [78]:
help(dit.copy)

Help on built-in function copy:

copy(...) method of builtins.dict instance
    D.copy() -> a shallow copy of D

In [79]:
dit.copy()

{'my_first_name': 'vishal',
 'my_last_name': 'chitara',
 'my_pet_name': 'nanu',
 'FIRST NAME': 'VISHAL',
 'LAST NAME': 'CHITARA',
 'PET NAME': 'NANU'}

In [84]:
help(dit.items)

Help on built-in function items:

items(...) method of builtins.dict instance
    D.items() -> a set-like object providing a view on D's items

In [85]:
dit.items()

dict_items([('my_first_name', 'vishal'), ('my_last_name', 'chitara'), ('my_pet_name', 'nanu'), ('FIRST NAME', 'VISHAL'), ('LAST NAME', 'CHITARA'), ('PET NAME', 'NANU')])

In [87]:
dit.pop('my_pet_name')

'nanu'

In [88]:
dit

{'my_first_name': 'vishal',
 'my_last_name': 'chitara',
 'FIRST NAME': 'VISHAL',
 'LAST NAME': 'CHITARA',
 'PET NAME': 'NANU'}

In [111]:
dit.setdefault(0)

In [112]:
dit.

{'my_first_name': 'vishal',
 'my_last_name': 'chitara',
 'FIRST NAME': 'VISHAL',
 'LAST NAME': 'CHITARA',
 'PET NAME': 'NANU',
 2: None,
 'my_pet_name': 'nanu',
 0: None}

In [114]:
help(dit.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

# set

In [116]:
sets = { "vishal",3,9,"chitara","vishal","chitara"}

In [117]:
sets

{3, 9, 'chitara', 'vishal'}

In [118]:
help(sets.copy)

Help on built-in function copy:

copy(...) method of builtins.set instance
    Return a shallow copy of a set.

In [119]:
sets.copy()

{3, 9, 'chitara', 'vishal'}

In [120]:
sets

{3, 9, 'chitara', 'vishal'}

In [121]:
help(sets.difference)

Help on built-in function difference:

difference(...) method of builtins.set instance
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [146]:
sets

set()

# tuples

In [147]:
tup =("my","name","is","vishal","chitara")

In [148]:
tup

('my', 'name', 'is', 'vishal', 'chitara')

In [149]:
#shows index value 
tup.count("my")

1

In [169]:
tuple.mro()

[tuple, object]

In [166]:
tuple

tuple

# Bool

In [171]:
#Boolean is either true or false
a = True
b = False

In [172]:
a

True

In [173]:
b

False